.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 50px;
}

@media screen and (max-width: 640px) {
    .profile {
        flex-direction: column;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
