.profile__info-header {
    display: inline-block;  
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
}

@media screen and (max-width: 836px) {
    .profile__info-header {
        font-size: 27px;
        line-height: 33px;
        align-self: center;
        padding-right: 10px;
        max-width: 189px;
    }
}