.elements {
    display: grid;
    grid-template-columns: repeat(auto-fill, 282px);
    grid-auto-rows: minmax(361px, 1fr);
    row-gap: 20px;
    column-gap: 17px;
    padding-bottom: 66px;
    justify-content: center;
}

@media screen and (max-width: 836px) {
    .elements {
        padding-bottom: 48px;
    }
}